@import '../variables';

.planes-numero-avisos {
  max-width: 712px;

  .avisos-desplegar {
    cursor: pointer;
    width: 160px;

    &:hover {
      color: $orange;
      font-weight: bold;
    }
  }

  label {
    width: 160px;

    &:hover {
      outline: 2px solid;
    }
  }
}