
.input-restore::placeholder {
  opacity: 0.5;
}

.restore-form {
  display: grid;
  place-items: center;
  height: 100vh;
  
  .restore-form-content {
    width: 100%;
    max-width: 500px;

    .puja-logo {
      width: 160px;
    }

  }
}


