@import '../variables';

.signin-image {
  background-image: url('images/register.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.input::placeholder {
  opacity: 0.5;
}

.register-form {
  display: grid;
  place-items: center;
  height: 100vh;
  
  .register-form-content {
    width: 100%;
    max-width: 500px;

    .signin-puja-logo {
      width: 120px;
    }

    .signin-recuperar-password {
      color: $dark_gray;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: $orange;
      }
    }

    .sigin-logo-google {
      width: 30px;
    }
  }
}


