@import '../variables';

.register-image {
  background-image: url('../../images/register.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.input::placeholder {
  opacity: 0.5;
}

.register-form {
  display: grid;
  place-items: center;

  .register-form-content {
    width: 100%;
    max-width: 500px;

    .register-puja-logo {
      width: 120px;
    }

  }
}


