// simple card ===========================================================================
.simple-card {
  width: 18rem;
  min-width: 18rem;
  height: 24rem;
  margin: 1rem;

  &.blog {
    height: 30rem;
    width: 20rem;
    min-width: 20rem;
  }

  .card-image-container {
    width: 100%;
    height: 12.5rem;

    .card-image-custom {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.card-simple-address-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// inmueble card ======================================================================
.card-inmueble-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Limita el texto a 3 líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2rem;
}

.card-inmueble-content {
  height: 100%;
}

.card-inmueble-image {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  object-position: center;
}

.card-inmueble-title {
  font-size: 1rem;
}

.card-inmuebles-features {
  font-size: 1rem;
}

.card-aviso {
  .tipo-inmueble-aviso {
    font-size: .8rem;
    font-weight: 600;
    color: $gray-600;
  }

  .titulo-aviso {
    font-size: .9rem;
    font-weight: 400;
    color: $black;
  }

  .address-aviso {
    font-size: .8rem;
    font-weight: 500;
    color: $gray-600;
  }

  .tipo-operacion-aviso {
    font-size: .8rem;
    color: $gray-600;
    margin-right: 8px;
  }

  .price-aviso {
    font-weight: 600;
    font-size: .9rem;
  }

  .info-footer-aviso {
    font-size: .8rem;
  }

  .id-aviso {
    font-weight: 600;
    color: $gray-800;
  }
}

// Lazo de tipo de aviso ==============
.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --f: .5em;
  --r: .8em;
  
  position: absolute;
  top: 20px;
  left: calc(-1*var(--f));
  padding-inline: .25em;
  line-height: 1.8;
  border-bottom: var(--f) solid #0005;
  border-right: var(--r) solid #0000;
  clip-path: 
    polygon(0 0,0 calc(100% - var(--f)),var(--f) 100%,
    var(--f) calc(100% - var(--f)),100% calc(100% - var(--f)),
    calc(100% - var(--r)) calc(50% - var(--f)/2),100% 0);

  &.premium {
    background: rgb(239, 184, 16);
  }

  &.top {
    background: #06afe2;
  }
}

// MEDIA QUERIES ===============================================
@media (min-width: $lg) {
  .card-inmueble {
    height: 300px;
  }

  .card-inmueble-image {
    height: 100%;
  }

  .card-inmueble-title {
    font-size: 1.6rem;
  }

  .card-inmuebles-features {
    font-size: 1.2rem;
  }

  .card-aviso {
    height: 100%;
  }

  .image-aviso {
    margin-right: 1rem;
    ;
  }
}