.main-home {
  height: 426px;
  position: relative;

  .main-home-search {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-home-background-image {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('images/slide1.webp');
  height: 100%;
  background-size: cover;
  background-position: center;
}
