@import '../variables';

.main-container {
  padding: 1rem;
}

.main-home {
  margin-top: 2rem;
  position: relative;
  
  .main-home-search {
    position: absolute;

    bottom: 0;
    padding: 1rem;

    .main-home-titular {
      text-shadow: 3px 3px 3px $dark_gray;
    }
  }

  .main-home-proyecto-data {
    position: absolute;
    top: 0;
    right: 0;

    padding: 1rem;
    margin: 1rem;
    color: $white;
    background-color: rgba($color: #081f41, $alpha: .8);

  }
}

.main-home-background-image {
  object-fit: cover;
}

.main-home-background-image-container {
  height: 550px;
}

@media (min-width: $md) {

  .main-home {
    padding: 2rem;
  
    .main-home-search {
      bottom: 4rem;
      left: 4rem;

      padding: 1.2rem;
      background-color: rgba($color: #081f41, $alpha: .8);
    }

    .main-home-proyecto-data {
      top: 2rem;
      right: 2rem;
    }
  }

  .main-home-background-image {
    object-fit: cover;
  }
  
  .main-home-background-image-container {
    height: 600px;
  }

}

@media (min-width: $lg) {

  .main-container {
    padding: 0 3rem;
  }
}


@media (min-width: $xxl) {

  .main-container {
    padding: 0 8rem;
  }
}