@import '../variables';

.lateral-submenu {
    width: 250px;
}

#main-misavisos {
    min-height: calc(100vh - 200px);
}

#menu-container {
    a {
        span {
            color: $gray-600;
        }

        &.active span{
            color: $orange;
        }
    }
}