// modal whatsapp =======================================
body.modal-open {
  overflow: hidden;
}

.whatsapp-dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.whatsapp-dialog {
  border: none;
  padding: 0;
  animation: fadeIn 0.3s ease-out;
  width: 800px;
  height: 400px;
}

// animaciones del modal
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.modal-image-container {
  height: 400px;

  .modal-image-custom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}